---
import SectionOne from "../components/ui/SectionOne.astro";
import SectionTwo from "../components/ui/SectionTwo.astro";
import SectionThree from "../components/ui/SectionThree.astro";
import SectionFour from "../components/ui/SectionFour.astro";
import Footer from "../components/ui/Footer.astro";
import Hero from "../components/ui/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a La Chingada - Restaurante Mexicano 🌮">
	<Hero />
	<main>
		<SectionOne />
		<SectionTwo />
		<SectionThree />
		<SectionFour />
	</main>
	<Footer />
</Layout>
