---
import Gallery from "../components/ui/Gallery.astro";
import History from "../components/ui/History.astro";
import Events from "../components/ui/Events.astro";
import Store from "../components/ui/Store.astro";
import Contact from "../components/ui/Contact.astro";
import Footer from "../components/ui/Footer.astro";
import Hero from "../components/ui/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a La Chingada - Restaurante Mexicano 🌮">
	<Hero />
	<main>
		<Gallery />
		<Events />
		<History />
		<Store />
		<Contact />
	</main>
	<Footer />
</Layout>
