---
import logo from "../../img/logorosa.png";
---

<footer class="bg-red-100">
	<div
		class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24">
		<div class="lg:flex lg:items-end lg:justify-between">
			<div class="flex flex-col md:max-w-[250px]">
				<div class="flex justify-center text-teal-600 lg:justify-start">
					<img class="max-w-[250px]" src={logo.src} alt="" />
				</div>
			</div>

			<ul
				class="mt-12 text-sm flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12">
				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75"
						href="#">
						Instagram
					</a>
				</li>
				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75"
						href="#">
						Teléfono
					</a>
				</li>

				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75"
						href="#">
						Delivery
					</a>
				</li>

				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75"
						href="#">
						Reservas
					</a>
				</li>
			</ul>
		</div>

		<p class="mt-12 text-center text-sm text-gray-500 lg:text-right">
			Copyright &copy; 2022. All rights reserved.
		</p>
	</div>
</footer>

<style>
	footer {
		z-index: 60;
	}
</style>
