---
import logo from "../../img/logorosa.png";
---

<footer class="bg-red-100">
	<div
		class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24">
		<div class="lg:flex lg:items-end lg:justify-between">
			<div class="flex flex-col md:max-w-[250px]">
				<div class="flex justify-center text-teal-600 lg:justify-start">
					<img class="max-w-[250px]" src={logo.src} alt="" />
				</div>
			</div>

			<ul
				class="mt-12 text-sm flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12 text-[--primary]">
				<li>
					<a
						class="font-semibold transition hover:text-[--secondary]"
						href="https://www.instagram.com/lachingadamvd"
						target="_blank">
						Instagram
					</a>
				</li>
				<li>
					<a
						class="font-semibold transition hover:text-[--secondary]"
						href="tel:+59897477434">
						Teléfono
					</a>
				</li>

				<li>
					<a
						class="font-semibold transition hover:text-[--secondary]"
						href="#">
						Pedir
					</a>
				</li>

				<li>
					<a
						class="font-semibold transition hover:text-[--secondary]"
						href="#">
						Reservas
					</a>
				</li>
			</ul>
		</div>

		<p class="mt-12 text-center text-sm text-black lg:text-right">
			Copyright &copy; 2024. La Chingada - All rights reserved.
		</p>
	</div>
</footer>
