---
import Layout from "../../layouts/Layout.astro";
import { EmblaCarousel } from "../EmblaCarousel/EmblaCarousel.jsx";
import Container from "./Container.astro";
import compareArrow from "../../icons/compareArrow.svg";
---

<Layout title="">
	<section
		class="w-full h-full bg-red-100 z-10 top-0 flex items-center justify-center flex-col min-h-screen relative"
		id="gallery">
		<Container>
			<article
				class="flex flex-col mt-16 md:mt-0 items-start sm:items-center md:justify-between justify-center gap-10 w-full relative">
				<div class="w-full">
					<EmblaCarousel client:visible />
				</div>
				<div class="flex items-center w-fit justify-center mt-4">
					<a
						href="#"
						class="cursor-pointer relative group overflow-hidden border-2 px-8 py-2 border-[--primary]">
						<span
							class="font-semibold text-white text-sm relative z-10 group-hover:text-[--primary] duration-500">
							Pedir
						</span>
						<span
							class="absolute top-0 left-0 w-full bg-[--primary] duration-500 group-hover:-translate-x-full h-full"
						></span>
						<span
							class="absolute top-0 left-0 w-full bg-[--primary] duration-500 group-hover:translate-x-full h-full"
						></span>
		
						<span
							class="absolute top-0 left-0 w-full bg-[--primary] duration-500 delay-300 group-hover:-translate-y-full h-full"
						></span>
						<span
							class="absolute delay-300 top-0 left-0 w-full bg-[--primary] duration-500 group-hover:translate-y-full h-full"
						></span>
					</a>
				</div>
			</article>
		</Container>
	</section>
</Layout>
