---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Container from "./Container.astro";
import img1 from "../../img/store/tienda_1.jpg";
import img2 from "../../img/store/tienda_2.jpg";
import img3 from "../../img/store/tienda_3.jpg";
import img4 from "../../img/store/tienda_4.jpg";
---

<Layout title="">
	<section
		class="w-full h-full bg-red-100 shadow-md z-20 top-0 flex items-center justify-center flex-col py-10"
		id="store">
		<Container>
			<article
				class="flex flex-col-reverse mt-0 sm:mt-16 md:mt-0 gap-y-5 md:flex-row-reverse md:justify-between justify-center gap-x-10 w-full h-full max-h-screen max-w-screen relative">
				<div class="grid grid-cols-2 grid-rows-2 gap-2">
					<Image
						id="img"
						class="w-full h-full object-bottom object-cover"
						src={img1}
						alt="Imagen de la secci贸n 3"
					/>
					<Image
						id="img"
						class="w-full h-full object-botto hover:scale-105m object-cover"
						src={img2}
						alt="Imagen de la secci贸n 3"
					/>
					<Image
						id="img"
						class="w-full h-full object-start object-cover"
						src={img3}
						alt="Imagen de la secci贸n 3"
					/>
					<Image
						id="img"
						class="w-full h-full object-botto hover:scale-105m object-cover"
						src={img4}
						alt="Imagen de la secci贸n 3"
					/>
				</div>

				<div
					class="flex items-center justify-center gap-4 absolute bottom-0 top-0 m-auto right-0 left-0 w-full">
					<div
						class="flex flex-col bg-red-50/85 hover:bg-red-50 transition p-8 sm:p-16 shadow-md">
						<h1 class="text-center sm:text-[7rem]">Tienda</h1>
						<a
							href="#"
							class="cursor-pointer relative group overflow-hidden border-2 px-8 py-2 border-[--secondary]">
							<span
								class="font-semibold text-white text-sm relative z-10 group-hover:text-[--secondary] duration-500">
								Visita nuestra tienda online
							</span>
							<span
								class="absolute top-0 left-0 w-full bg-[--secondary] duration-500 group-hover:-translate-x-full h-full"
							></span>
							<span
								class="absolute top-0 left-0 w-full bg-[--secondary] duration-500 group-hover:translate-x-full h-full"
							></span>

							<span
								class="absolute top-0 left-0 w-full bg-[--secondary] duration-500 delay-300 group-hover:-translate-y-full h-full"
							></span>
							<span
								class="absolute delay-300 top-0 left-0 w-full bg-[--secondary] duration-500 group-hover:translate-y-full h-full"
							></span>
						</a>
					</div>
				</div>
			</article>
		</Container>
	</section>
</Layout>
